
<div class="mainContainer">
<div class='fadeContainer'>
  <fieldset ng-disabled="badInput">
  <form name="spielForm" novalidate ng-class="{'active': isActive}"  ng-bind-html="getHtml(body)">
    <textarea name="spielText" ng-model="textarea.field1" runat="server">
  <p class="please-work" ng-bind-html="getHtml(body)" > </p>
</textarea>
  </fieldset>
</div>

<span class="gameButtons">


      <button class="gimme button" type="submit" ng-click="activeForm()">Gimme</button>

      <!-- <button type="button" ng-click="libMaker()" ng-model="clicked"><i class="fa fa-heart" aria-hidden="true"></i></button>

      <button type="button" >New Spiel</button> -->

</span>

</form>
<button type="button" ng-click="libMaker()" ng-model="clicked"><i class="fa fa-heart" aria-hidden="true"></i></button>

<button type="button" >New Spiel</button>

</div>
