<div class='fadeContainer' id='login'>
  <div class='loginPage'>
    <p id='welcome'>Welcome</p>
    <div class='formFields'>
        <input type='text' name='' placeholder="Username" class='login' required>
        <input type='password' name='' placeholder="Password" class='login' required>
        <input type='password' name='' placeholder="Verify Password" class='login register' required>
        <input type='text' name='' placeholder="Email" class='login register' required>
        <button  id='btnLoginToRegister' class='loginButton'>LOGIN</button>
        <footer>
        <p id='loginToRegister'> Not Registered?</p>
        <p href='#' id='textChange'><u>Register</u></p>
      </footer>

    </div>
  </div>

</div>
