<div class='fadeContainer' id='login'>

    <h1>Welcome</h1>
    <p>I am a welcome paragraph</p>
    <div class='formFields'>
        <input type='text' name='' placeholder="Username" class='loginRegister'>
        <input type='password' name='' placeholder="Password" class='loginRegister'>
        <input type='text' name='' placeholder="Username" class='loginRegister'>
        <input type='text' name='' placeholder="Username" class='loginRegister'>
        <button class='loginButton'>Login</button>
    </div>

</div>
