#gamePage{
  width: 100%;
  text-shadow: 0 0 10px(#000000);
  color: transparent;
  .active {
    color: #000000;
    text-shadow: none;

}
}

.mainContainer{
  width: 70%;
  margin: 0 auto;
}

#gameForm {
line-height: 145%;
}



.fa-heart{
  font-size: 8px;
}


 button {
   margin-top: 40px;
  background: #8164BA;
  border: none;
  box-shadow: 0 6px #40325d;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin: 5px;
  font-size: 30px;
  font-family: 'Monofett', cursive;
  padding: 5px 10px;

    &:hover {
        background: #5a4682;

        &:active {
            background: #5a4682;
            box-shadow: 0 3px #40325d;
            transform: translateY(4px);
        }
    }
}

.gameButtons{
  position: relative;
  bottom: -50px;
}

#title{
  font-family: 'Monofett', cursive;
  color: #fff;
  font-size: 50px;
  padding-bottom: 20px;
}
#intro {
  color: #000000;
  text-shadow: none;

}

.inputs {
  display: inline;
  background-color: rgba(255,255,255, .3);
  font-size: 20px;
  font-family: 'Josefin Sans', serif;
  border: 0;
  border-bottom: 2px solid #40325d;
  border-radius: 2px;
  color: #8164BA;
  padding: 6px 4px 0 4px;
  outline: none;
  &:active {
    padding-left: 50px;
    padding-right: 50px;
  }

}
