/**
 * Global Resets
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.loginRegister {
  border: none;
  border-radius: 2px;
  display: block;
  margin: 10px;
  outline: 0;
  width: 20%;
  height: 30px;
  padding: 5px; }

.gameForm {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-family: 'Josefin Sans', serif;
  border: 0;
  border-bottom: 2px solid #40325d;
  border-radius: 2px;
  margin: 5px;
  text-align: center;
  outline: 0;
  color: #8164BA;
  height: 30px;
  width: 20%; }

.gameButtons {
  position: relative;
  top: 40px;
  left: 50%; }
  .gameButtons ul {
    background: transparent;
    float: right; }
    .gameButtons ul li {
      float: left; }

ul li .button {
  background: #8164BA;
  border: none;
  box-shadow: 0 6px #40325d;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin: 5px;
  font-size: 30px;
  font-family: 'Monofett', cursive;
  padding: 5px 10px; }
  ul li .button:hover {
    background: #5a4682; }
    ul li .button:hover:active {
      background: #5a4682;
      box-shadow: 0 3px #40325d;
      transform: translateY(4px); }

* {
  box-sizing: border-box; }

body {
  background: url("../../images/background.png");
  font-family: 'Josefin Sans', serif; }

.topSection {
  height: 150px;
  background: #8164BA;
  z-index: 100; }

h1 {
  color: #ffffff;
  font-size: 100px;
  font-family: 'Monofett', cursive;
  text-align: left;
  padding-top: 5px;
  width: 500px; }

.logo {
  padding-top: 15px;
  float: left;
  padding-left: 1%; }

ul {
  background: #40325d;
  overflow: hidden;
  position: relative;
  top: 20px;
  width: 100%; }
  ul .nav {
    display: inline;
    float: left;
    text-align: center;
    width: 33.33vw; }

.nav a {
  color: #ffffff;
  display: block;
  height: 37px;
  font-size: 18px;
  padding-top: 10px;
  text-decoration: none; }

.nav a:hover {
  background: #33284a;
  text-transform: uppercase; }

.fadeContainer {
  background-color: rgba(255, 255, 255, 0.3);
  color: transparent;
  width: 70%;
  font-size: 22px;
  line-height: 120%;
  margin: 0 auto;
  top: 50px;
  padding: 25px;
  position: relative;
  text-shadow: 0 0 10px #000000; }
  .fadeContainer .active {
    color: black;
    text-shadow: none; }

.fa {
  padding: 0 5px; }

video {
  z-index: -100;
  position: fixed;
  opacity: 0.7; }

@media only screen and (max-width: 400px) {
  span {
    display: none; }

  i.fa {
    font-size: 1.5em; }

  .nav a {
    padding-top: 5px; } }

/*# sourceMappingURL=app.css.map */
