@import 'partials/reset';
@import 'partials/login';
@import 'partials/game'; //Universal header for all three templates

* {
    box-sizing: border-box;
}

body {
    background: url('../../images/background.png');
    font-family: 'Josefin Sans', serif;
}

.topSection {
    height: 150px;
    background: #8164BA;
    z-index: 100;
}

h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Monofett', cursive;
    text-align: left;
    padding-top: 5px;
    width: 500px;
}

.logo {
    padding-top: 15px;
    float: left;
    padding-left: 1%;
}
//Nav bar styling

ul {
    background: #40325d;
    overflow: hidden;
    position: relative;
    top: 20px;
    width: 100%;

    .nav {
        display: inline;
        float: left;
        text-align: center;
        width: 33.33vw;
    }
}

.nav a {
    color: #ffffff;
    display: block;
    height: 37px;
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none;
}

.nav a:hover {
    background: #33284a;
    text-transform: uppercase;
}
//Universal page container

.fadeContainer {
    background-color: rgba(255,255,255, .3);
    width: 70%;
    font-size: 22px;
    line-height: 120%;
    margin: 0 auto;
    top: 50px;
    padding: 25px;
    position: relative;
}

.fa {
    padding: 0 5px;
}
//Video background

video {
    z-index: -100;
    position: fixed;
    opacity: 0.7;
}
//Responsiveness at mobile width
@media only screen and (max-width: 400px) {
    .fadeContainer {
        width: 90%;
    }

    span {
        display: none;
    }

    i.fa {
        font-size: 1.5em;
    }

    .nav a {
        padding-top: 5px;
    }
}
